{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container text-center">
    <img src="https://fpt.com.vn/Content/home/images/img/fptf4.jpg" alt="">
</div>
{% endblock %}
